
.raleway-cfont {
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
  }

.containt{
    margin: 0px 100px;
}
.btn{
    background: #4E47FF;
    font-style: none;
    padding: 15px 30px;
    color: #fff;
    font-family: sans-serif;
    font-weight: 600;
    font-size: 1em;
    margin: 25px;
    border-radius: 5px;
}

.head_bar{
    padding: 30px 100px;
    background: url('Assets/Hero-bg.png');
}
.nav_bar{
    display:flex;
    justify-content: space-between;
}

.logo{
    font-size: 2em;;
    color: #4E47FF;
}
.logo span{
    color: tomato;
}
.banner{
    text-align: center;
}
.action{
    display: flex;
    justify-content: space-between;
    margin: 100px 0PX;
}
.action_left{
    font-size: large;
    
}
.action_left p{
    color: #4a4a4a;
}
.action_btn{
    margin-left: 0px;
}
.action img{
    border-radius: 5%;
}
.performance_section{
    background: #e4caff;
    border-radius: 10px;
    
}
.performance_section h4{
    text-align: center;
    padding: 50px 0px;
    font-size: 30px;
}
.p_card{
    display: flex;
    justify-content: space-around;
    padding: 50px;
    text-align: center;
}
.parcentiz{
    font-size: 40px;
    color: #4E47FF;
    padding-bottom: 20px;
}
.parcentiz p{
    color: #4a4a4a;
}
.fa-star{
    color: gold;
}
.review_head{
    text-align: center;
    font-size: 30px;
}
.card{
    display: flex;
    justify-content: space-between;
    gap: 50px;
}
.card1, .card2, .card3{
    background: #f6f0f9;
    padding: 25px;
    border-radius: 10px;
}
.card h4{
   font-size: 25px;
}

.customer{
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 10px;
}
.customer img{
    border-radius: 50%;
    width: 100px;
    height: 100px;
}
.customer_nm{
    font-size: 20px;
}
.customer_dtls{
    color: #787575;

}
.customer_review{
    flex-direction: row;
    gap: 2px;
}
.extra{
    text-align: center;
    display: flex;
    flex-direction: column;
    margin: 100px;
    background: #e4caff;
    border-radius: 10px;
    padding: 50px 100px;
}
.extra img {
    border-radius: 30px;
}
.btn_a{
    margin: 30px 39%;
}
.lgit{
    font-size: 50px;
}
.getintuch{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 100px;
}
input,textarea{
    margin: 20px 0px;
    font-size: xx-large;
    border: 1px solid #fff;
    background: #f6f0f9;
    border-radius: 10px;
}
.sub_btn{
    width: 100%;
    margin-left: 0px;
}
footer{
    text-align: center;
    background: #dcd2e6;
    padding: 70px;
}
nav{
    margin: 50px 30%;
}
nav ul{
    display: flex;
    justify-content: space-between;
}
nav li{
    list-style: none;
}
nav ul li a{
    text-decoration: none;
    color: #795151;
}