.btn{
    background: #4E47FF;
    font-style: none;
    height: 50px;
    width: 100px;
    padding: 5px;
    color: #fff;
    font-family: sans-serif;
    font-weight: 1000;
    margin: 25px;

}

.head_bar{
    display:flex;
    justify-content: space-between;

}
.logo{
    font-size: 2em;;
    color: #4E47FF;
}
.logo span{
    color: tomato;
}
